rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita apenas para o usuário autenticado dono do próprio documento
    match /users_data/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
